{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="row">
    <div class="col">
        <div class="card mb-3 mt-5">
            <div class="row no-gutters">
              <div class="col">
                <img  class="img-responsive" src="{{kitchen.image.url}}" alt="...">
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <div class="card-body">
                  <h4 class="card-title h2">{{kitchen.name}}</h4>
                    <h5 class="display-5 my-3">Open Days. From: {{kitchen.start_time}} To: {{kitchen.end_time}}</h5>
                    <ul class="mb-4 list-group list-group-horizontal">
                        {% for day in kitchen.days.all %}
                            <li class="mx-1 list-group-item active">{{day}}</li>
                        {% endfor %}
                      </ul>
                    <h5 class="h4 text-center">Menu</h5>
                    <form action="{% url 'kitchen_detail' kitchen.user.id %}" method="POST">
                      {% csrf_token %}
                      {{ cart_form }}
                      <ul class="list-group">
                        {{ formset.management_form }}
                          {% for item, form in zipped_items %}
                          
                              <li class="list-group-item">
                                  <ul class="list-group">
                                      <li class="add-cart list-group-item active lead font-weight-bold">
                                          Name: {{item.name}} 
                                          {{ form.as_p }}
                                      </li>
                                      <li class="list-group-item">Price: ${{item.price}}</li>
                                      <li class="list-group-item">Type: {% if item.isVeg %} Veggie {% else %} NonVeggie {% endif %}</li>
                                  </ul>
                              </li>
                          {% endfor %}
                          <input type="submit" class="btn btn-primary" value="Add">
                        </ul>
                    </form>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}